# F String

In [1]:
price = 59
tax = 0.25
txt = f"The price is {price + (price * tax)} dollars"
print(txt)

The price is 73.75 dollars

In [2]:
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"
print(txt)

It is very Cheap

In [3]:
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

In [4]:
def myconverter(x):
    return x * 0.3048


txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

# String format()

In [5]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [7]:
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.00 dollars

In [8]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [12]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [13]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [14]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.